In [10]:
import pandas as pd

In [20]:
df = pd.read_csv("./data/students.csv")
df.head()

   student_id first_name last_name  age gender
0           1       Emma   Johnson   20      F
1           2       Liam     Smith   22      M
2           3     Olivia  Williams   19      F
3           4       Noah     Brown   21      M
4           5        Ava     Jones   20      F

In [21]:
df["email"] = (df.first_name + df.last_name + "@gmail.com").str.strip().str.lower()

df.head()

   student_id first_name last_name  age gender                     email
0           1       Emma   Johnson   20      F     emmajohnson@gmail.com
1           2       Liam     Smith   22      M       liamsmith@gmail.com
2           3     Olivia  Williams   19      F  oliviawilliams@gmail.com
3           4       Noah     Brown   21      M       noahbrown@gmail.com
4           5        Ava     Jones   20      F        avajones@gmail.com

In [22]:
df["password"] = (df.last_name + "pass" ).str.strip()

df.head()

,student_id,first_name,last_name,age,gender,email,password
0,1,Emma,Johnson,20,F,emmajohnson@gmail.com,Johnsonpass
1,2,Liam,Smith,22,M,liamsmith@gmail.com,Smithpass
2,3,Olivia,Williams,19,F,oliviawilliams@gmail.com,Williamspass
3,4,Noah,Brown,21,M,noahbrown@gmail.com,Brownpass
4,5,Ava,Jones,20,F,avajones@gmail.com,Jonespass

In [30]:
cred = df[["student_id", "email", "password"]].set_index('student_id')
cred.head()

                               email      password
student_id
1              emmajohnson@gmail.com   Johnsonpass
2                liamsmith@gmail.com     Smithpass
3           oliviawilliams@gmail.com  Williamspass
4                noahbrown@gmail.com     Brownpass
5                 avajones@gmail.com     Jonespass

In [31]:
cred.to_csv("./data/credentials.csv", mode="w")

In [32]:
pd.read_csv("./data/credentials.csv")

    student_id                        email      password
0            1        emmajohnson@gmail.com   Johnsonpass
1            2          liamsmith@gmail.com     Smithpass
2            3     oliviawilliams@gmail.com  Williamspass
3            4          noahbrown@gmail.com     Brownpass
4            5           avajones@gmail.com     Jonespass
5            6       elijahmiller@gmail.com    Millerpass
6            7        sophiadavis@gmail.com     Davispass
7            8        jamesgarcia@gmail.com    Garciapass
8            9   isabellamartinez@gmail.com  Martinezpass
9           10        lucaswilson@gmail.com    Wilsonpass
10          11        miaanderson@gmail.com  Andersonpass
11          12        masonthomas@gmail.com    Thomaspass
12          13       ameliataylor@gmail.com    Taylorpass
13          14         ethanmoore@gmail.com     Moorepass
14          15      harperjackson@gmail.com   Jacksonpass
15          16        loganmartin@gmail.com    Martinpass
16          17          evelynlee@gmail.com       Leepass
17          18      benjaminperez@gmail.com     Perezpass
18          19    abigailthompson@gmail.com  Thompsonpass
19          20        oliverwhite@gmail.com     Whitepass
20          21    charlotteharris@gmail.com    Harrispass
21          22       jacobsanchez@gmail.com   Sanchezpass
22          23         emilyclark@gmail.com     Clarkpass
23          24     michaelramirez@gmail.com   Ramirezpass
24          25     elizabethlewis@gmail.com     Lewispass
25          26  alexanderrobinson@gmail.com  Robinsonpass
26          27        sofiawalker@gmail.com    Walkerpass
27          28        danielyoung@gmail.com     Youngpass
28          29         averyallen@gmail.com     Allenpass
29          30        matthewking@gmail.com      Kingpass
30          31     scarlettwright@gmail.com    Wrightpass
31          32        josephscott@gmail.com     Scottpass
32          33         ellatorres@gmail.com    Torrespass
33          34        davidnelson@gmail.com    Nelsonpass
34          35          gracehill@gmail.com      Hillpass
35          36        samuelgreen@gmail.com     Greenpass
36          37         chloeadams@gmail.com     Adamspass
37          38         henrybaker@gmail.com     Bakerpass
38          39       lilygonzalez@gmail.com  Gonzalezpass
39          40      jacksonnelson@gmail.com    Nelsonpass
40          41          zoecarter@gmail.com    Carterpass
41          42        aidenmorris@gmail.com    Morrispass
42          43       hannahrogers@gmail.com    Rogerspass
43          44          wyattreed@gmail.com      Reedpass
44          45        nataliecook@gmail.com      Cookpass
45          46         owenmorgan@gmail.com    Morganpass
46          47        lillianbell@gmail.com      Bellpass
47          48      gabrielmurphy@gmail.com    Murphypass
48          49         ariabailey@gmail.com    Baileypass
49          50       carterrivera@gmail.com    Riverapass